p {
    color: blue; text-align: center;
}

h1 {
    color: red; text-align: center;
}

body {
    background: #b8b4b2;
    font-family:"Times New Roman", Times, serif;
    font-size: medium;
    margin: 40px;
}

.big_stuff {
    font-size: larger;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: purple;
}

.problem_statement {
    background-color: #b9a2b9;
}

.problem_statement img {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.personnas {
    background-color: #726359;
}

.sketches {
    background-color: #9a8683;
}