body {
	background: rgba(129, 129, 129, 0.751);
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: darkslategrey;
	text-align: center;
}
.projects { 
	display:flex; 
	flex-wrap:wrap;  
} 
.projects h2 {
	width: 100%;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgb(93, 112, 132);
    border-radius: 25%;
}
.project h3 {
    margin-left: 50px;
}
.project img {
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid navy;
    display: block;
    text-align: center;
}
.project p {
    text-align: center;
    margin: 15px;
}